.headerContainer {
  background-image: linear-gradient(#5a26fb, #6e32f5);
  overflow: hidden;
  .headerChildContainer {
    background-image: url("../../../images/heroBgDesign.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .heroImg {
    img {
      width: 100%;
    }
    .mobileVisibleBgImg {
      display: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  .headerContainer {
    .headerChildContainer {
      background-size: 180%;
    }
    .heroImg {
      .mobileHideBgImg {
        display: none;
      }
      .mobileVisibleBgImg {
        display: block !important;
      }
    }
  }
}
