.heroContainer {
  text-align: center;
  margin-top: 3rem;
  h5 {
    color: white;
    margin-bottom: 1rem;
  }
  .title {
    color: white;
    font-size: 4.2rem;
    margin-top: 0 !important;
  }
  .heroBtns {
    button {
      font-size: 1.2rem;
      padding: 0.7rem 1.8rem;
      width: auto;
      height: auto;
      margin-bottom: 2rem;
    }
    button:nth-child(2) {
      background: none;
      color: white;
      margin-left: 10px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .heroContainer {
    text-align: center;
    margin-top: 2.5rem;
    h5 {
      color: white;
      margin-bottom: 0.8rem;
    }
    .title {
      color: white;
      font-size: 3rem;
      margin-top: 0 !important;
    }
    .heroBtns {
      button {
        font-size: 1rem;
        padding: 0.5rem 1.3rem;
        width: auto;
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .heroContainer {
    .title {
      color: white;
      font-size: 2.2rem;
      margin-top: 0 !important;
    }
  }
}
