.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.btnDesignBlue {
  background-color: #002bb7;
  color: white;
  border: 0;
  font-weight: 500;
  letter-spacing: 0.5px;
}
